/*This is a comment */

/*This is a comment */

html{

  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
body{
  margin:0;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.play-contain{
  margin-left: 10%;
  display: inline;
  position: absolute;
}

#play-button{
position: absolute;
float: left;
transform: translateX(-600%) translateY(200%);
}
.Butts{
    margin: auto auto;
    float: center;
}

#scene-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#content_container{
  width: 92%;
  margin: 4% auto;
  position: absolute;
	 top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#button-holder{
  text-align: center;
  margin: 0px auto;
  display: inline-box;
  margin-bottom: 2.5%;
}

.gridbutts{
  opacity: 75%;
  margin-top: 5pt;
  margin-left:5pt;
  border-radius: 15%;
  background-color: #47a7f5;
  width: 3em;
  height: 3em;
  padding: 1em;
  font-family: 'IBM Plex Mono', monospace;
  align-self: center;
  text-align: center;
  border:none;
  transition:all 1s ease;
  -webkit-transition-property:color, background; 
-webkit-transition-duration: 0.1s, 0.1s; 
-webkit-transition-timing-function: linear, ease-in-out;
}

.gridbutts:hover{
  background-color: #CD5243;
}
.gridbutts:active{
  background-color: #c4e4ff;
}

#play-button{
    background-color: rgb(8, 11, 9);
    font-size: 36pt;
    font-weight: bold;
    border: none;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    border-radius: 25%;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.circle{
    background-color: #927FFF;
    margin-top: 2%;
    width: 50px;
    height: 50px;
    font-size: 15pt;
    text-align: center;
    border-radius: 15%;
    padding: 10px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.circle:hover{
    background-color: #B792FF;
}
.circle:active{
  background-color: #c4e4ff;
}

.container {
  display: flex;
  width: 500px;
  height: 500px;
  margin: auto;
  text-align: center;
  margin-top: 1%;
}

.slider {
  width: 100%;
  margin: 7% auto;
}

/* track */
input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 1px;
  background-color: rgb(201, 24, 24);
  border: none;
  border-radius: 10px;
  margin: auto;
  transition: all 400ms;
  outline:none;
  padding: 0;
  margin: 0;
}
input[type="range"]::-moz-range-track { 
  width: 100%;
  height: 1px;
  background-color: rgb(201, 24, 24);
  border: none;
  border-radius: 10px;
  margin: auto;
  transition: all 400ms;
  outline:none;
  padding: 0;
  margin: 0;
}

/* thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  transform:scale(0.75);
  width: 20px;
  height: 20px;
  border: none;
  background-color: rgb(201, 24, 24);
  border-radius: 40px; 
  box-shadow: 0px 0px 0px green;
  transition: all 400ms;
  outline:none
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none !important;
  transform:scale(0.75);
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ff5252;
  border-radius: 30px;
  box-shadow: 0px 0px 0px green;
  transition: all 400ms;
  outline:none
}

/* thumb hover */
input[type="range"]::-webkit-slider-thumb:hover {  
  transform:scale(0.85);
}
input[type="range"]::-moz-range-thumb:hover{
  transform:scale(0.85);
}

/* thumb active */
input[type="range"]::-webkit-slider-thumb:active {
  transform:scale(1);
}
input[type="range"]::-moz-range-thumb:active{
  transform:scale(1);
}

#rangevalue {
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 10px 0px;
  width: 100%;
  color: #ff5252;
}

